<!DOCTYPE html>
<html>

	<body>

		<div id="map" style="width:100%;height:500px"></div>

		<script>

			// Data for the markers consisting of a name, a LatLng and a zIndex for the
      		// order in which these markers should display on top of each other.
			var target_positions = {{ target_location_output | tojson | safe }};
			var target_names = {{ target_name_output | tojson | safe }};

			var player_route = {{ user_location_output | tojson | safe }};
			var user_id = {{ user_id_output | tojson | safe }};

			function initMap(){
				console.log('running initMap');
				var mapCenter = player_route[0];
				var mapCanvas = document.getElementById("map");
				var mapOptions = {center: mapCenter, zoom: 13};
				var map = new google.maps.Map(mapCanvas, mapOptions);

				setTargetMarkers(map);
				setPlayerMarkerAndPositions(map);
			}

			var target_markers=[];
			var player_markers=[];

			function setTargetMarkers(map){
				// Marker sizes are expressed as a Size of X,Y where the origin of the image
        		// (0,0) is located in the top left of the image.
				// Origins, anchor positions and coordinates of the marker increase in the X
        		// direction to the right and in the Y direction down.
				var target_marker_image = {
					url: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
					// This marker is 32 pixels wide by 32 pixels high.
					size: new google.maps.Size(32, 32),
					// The origin for this image is (0, 0).
					origin: new google.maps.Point(0, 0),
					// The anchor for this image is the base of the marker at (32/2, 32).
					anchor: new google.maps.Point(16, 32)
				};

				for (var i = 0; i < target_positions.length; i++) {
					var target_marker = new google.maps.Marker({
						position: target_positions[i],
						map: map,
						icon: target_marker_image,
						title: target_names[i]
					});
					target_marker.setMap(map);
					attach_target_event_listener(target_marker,map);
					target_markers.push(target_marker);
				};
			}

			function attach_target_event_listener(target_marker,map) {

				var target_infowindow = new google.maps.InfoWindow({
					content:target_marker.getTitle()
				});

				target_marker.addListener('click', function() {
					var original_map_position = map.getZoom();
					map.setZoom(14);
					map.setCenter(target_marker.getPosition());
					target_infowindow.open(target_marker.get('map'), target_marker);
					window.setTimeout(function() {
						map.setZoom(original_map_position);
						if (target_infowindow){
							target_infowindow.close();
						}
					},3000);
				});
			}

			function setPlayerMarkerAndPositions(map) {
				console.log('running setPlayerMarkerAndPositions');
				var player_marker_image = {
					url: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
					size: new google.maps.Size(32, 32),
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(16, 32)
				};
				
			
				var player_route_line = new google.maps.Polyline({
					path: player_route,
					geodesic: false,
					strokeColor: '#FF0000',
					strokeOpacity: 1.0,
					strokeWeight: 3
				});

				player_route_line.setMap(map);

				var player_marker = new google.maps.Marker({
					position: player_route[0],
					map: map,
					icon: player_marker_image,
					title: user_id
					//zIndex: target_position[3]
				});
				player_marker.setMap(map);
				attach_player_event_listener(player_marker,map);
				player_markers.push(player_marker);
			
			}

			function attach_player_event_listener(player_marker,map) {

				var player_infowindow = new google.maps.InfoWindow({
					content:player_marker.getTitle()
				});

				player_marker.addListener('click', function() {
					var original_map_position = map.getZoom();
					map.setZoom(18);
					map.setCenter(player_marker.getPosition());
					player_infowindow.open(player_marker.get('map'), player_marker);
					window.setTimeout(function() {
						map.setZoom(original_map_position);
						if (player_infowindow){
							player_infowindow.close();
						}
					},3000);
				});
			}

		</script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm6ZsW6Y0deu7u1fSgYZHYtn30UyMcZ18&callback=initMap"></script>

	</body>
</html>
